<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      Well done! You have successfully received a Chilivote invitation code.
    </p>
    <p>
      To complete the sign up you will need to use the following code<br> <span style="color:blue"><strong><%=@code%></strong></span><br> or click on the link below:<br><a href="www.chilivote.com/users/new?code=<%=@code%>">www.chilivote.com/users/new?code=<%=@code%></a><br>
    </p>
    <p>
      Chilivote provides new and exciting social network features that have never been used in any other social network.<br> In addition, it is designed to combine your social network and your real life activities.<br>
 Let's get active!
    </p>
    <p>
      your friends from Chilivote.com
    </p>
  </body>
</html>

  