<div class="row">
	<div class="span3">
    <div class="well well-small well-white">
      <%= render partial: "control_box" %>
    </div>
  </div>

	<div class="span7">
    <div class="well well-small well-white">
      <%= render partial: "index"%>
    </div>
	</div>

	<div class="span2">
    <div class="friends_box_right">
    <%= render partial: "/users/friends_box"%>
    </div>
	</div>
</div>
