<div class="well well-small well-white  margin-bottom-10">
  <a href="/users/<%=current_user.id%>" style="color:#0088cc">Post Something ...</a>
</div>
<% @timeline_items.each do |timeline_item|%>
  <% if timeline_item.contribution_type == Chilivote::Application.config.contribution_type_status%>
<%=render partial: "/users/renderers/render_status", :locals=>{:timeline_item => timeline_item}%>
  <%elsif timeline_item.contribution_type == Chilivote::Application.config.contribution_type_poll%>
  <%elsif timeline_item.contribution_type == Chilivote::Application.config.contribution_type_cvote%>
<%=render partial: "/users/renderers/render_cvote", :locals=>{:timeline_item => timeline_item}%>
  <%end%>
<%end%>