<div class="row">
	<div class="span3 text-center">
		<%= render partial: "profile_image"%>
	</div>
	<div class="span7">
		<%#= render partial: "profile_main"%>
    <%= render partial: "/users/public_views/default_public_view"%>
	</div>
	<div class="span2 friends_box_right">
		<%#= render partial: "friends_box"%>
	</div>
</div>
