<div id="facebook_invite"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<a href="https://www.facebook.com/v2.2/dialog/apprequests?app_id=1072099729483016&redirect_uri=http://www.chilivote.com&message=Join me at chilivote"><%= cl_image_tag "facebook_invite_gzayno"%></a><br><br>
<script>
 FB.init({
  appId:'1072099729483016',
  cookie:true,
  status:true,
  xfbml:true
 });
</script>
<script>
 function FBInvite(){
  FB.ui({
   method: 'apprequests',
   message: 'Join me at Chilivote'
  },function(response) {
   if (response) {
    alert('Successfully Invited');
   } else {
    alert('Failed To Invite');
   }
  });
 }
</script>
<% if !@my_friends.nil?%>
	<% @my_friends.each do |friend|%>
		<small><%=user_avatar_one_line_small_truncated(friend).html_safe %></small>
		<br><br>
	<%end%>
<%else%>
	<p><%= "You have no friends" %></p>
<%end%>
