<% @current_user = current_user%>
<% if !@current_user.requested_friends.empty? then %>
	<% @current_user.requested_friends.each do |requester|%>
		<div id="friend_request_<%=requester.id.to_s%>" class="pull-left" style="width:100%;">
			<div class="pull-left"><%= user_avatar_one_line_small(requester).html_safe %>
        <small>sent you a friend request</small>
      </div>
			
		</div>
	<%end%>
<%else%>
<span class="text-capital">You have no friend requests</span>
<%end%>

