<div id="facebook_invite"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<a href="https://www.facebook.com/v2.2/dialog/apprequests?app_id=1072099729483016&e2e=%7B %7D&frictionless=false&locale=en_US&message=Join%20me%20at%20Chilivote&next=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect %2Fxd_arbiter%2FKTWTb9MY5lw.js%3Fversion%3D41%23cb%3Df318140a3c04cb4%26domain%3Dwww.chilivote.com%26origin%3Dhttp%253A %252F%252Fwww.chilivote.com%252Ff1ef391e1241493%26relation%3Dopener%26frame%3Df115ff496adefed%26result%3D %2522xxRESULTTOKENxx%2522&sdk=joey&version=v2.2"><%= cl_image_tag "facebook_invite_gzayno"%></a><br><br>
<script>
 FB.init({
  appId:'1072099729483016',
  cookie:true,
  status:true,
  xfbml:true
 });
</script>
<script>
 function FBInvite(){
  FB.ui({
   method: 'apprequests',
   message: 'Join me at Chilivote'
  },function(response) {
   if (response) {
    alert('Successfully Invited');
   } else {
    alert('Failed To Invite');
   }
  });
 }
</script>
<% if !@my_friends.nil?%>
	<% @my_friends.each do |friend|%>
		<small><%=user_avatar_one_line_small_truncated(friend).html_safe %></small>
		<br><br>
	<%end%>
<%else%>
	<p><%= "You have no friends" %></p>
<%end%>
