<% if !@my_friends.nil?%>
	<% @my_friends.each do |friend|%>
		<small><%=user_avatar_one_line_small_truncated(friend).html_safe %></small>
		<br><br>
	<%end%>
<%else%>
	<p><%= "You have no friends" %></p>
<%end%>
