<div class='left_banner'>
	<h3 style="color:#B1110E">Because life is about Good, Better and the Best!</h3>
	<%#= image_tag 'bianca.jpg'%>
		<%= render 'small_sign_in'%>
	<br/></br/>
	<div class="well well-small" style="width:40%"><%= link_to "#{cl_image_tag 'http://res.cloudinary.com/hgqr8qyb1/image/upload/v1417349011/download_sdrofm.png', :width=> 20, :height => 20}  Sign in with Facebook".html_safe, "/auth/facebook", id: "sign_in"%></div>
</div>
