<div class="row">
	<div class="span3 text-center">
		<%= render partial: "profile_image"%>
	</div>
	<div class="span5">
		<%= render partial: "followers_following"%>
	</div>
	<div class="span4 friends_box_right">
		<%= render partial: "promoted_users"%>
	</div>
</div>