<div class="container-fluid">
	<div class="wallpaper-container"> </div>
  <div class="row-fluid">
    <div class="span7">
		<%= render 'left_banner'%>
    </div>
    <div class="span5">
    	<%#= render 'small_sign_in'%>
		<%= render 'form' %>
    </div>
  </div>
</div>
<%= render partial: "placeholder_code"%>
