<div class="row">
	<div class="span3 text-center">
		<%= render partial: "profile_image"%>
	</div>
	<div class="span7">
		<%= render partial: "public_notifications"%>
	</div>
	<div class="span2 friends_box_right">
		
	</div>
</div>