<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="well well-small well-white span6 center">
    	<%#= render 'small_sign_in'%>
      <%= render partial: '/users/forms/form_basic' %>
    </div>
    <div class="span3"></div>
  </div>
</div>
<%= render partial: "placeholder_code"%>
