<h3>About</h3>

<p>Chilivote is about good, better and the best. This social network is a fun way for you to connect with friends and family - it lets you Compete and Make the right choices.</p>

<p>Chilivote is not like the other social networks you know. It is more simple, organized and direct to the point. Currently, there are three main activities you can enjoy:</p>

<p>1- Join the main voting categories of the month: just upload YOUR relevant photo to compete with the other users and let the whole Chilivote community choose the winner in each category.</p>

<p>2- Manage My Chilivote, which is your own page where YOU can find out your friends' opinions on just about anything. Let's say you can't make a decision about which restaurant to choose for celebrating your birthday. Of course, the best idea is to see what your friends think of your options. And Chilivote makes it easy in just 3 steps! Create a New Chilivote, add your question and upload several photos that reflect the possible answers and just sit back and relax while your friends do the voting. With My Chilivote decision-making is a fun, interactive and easier process. The varieties of questions to ask your friends are endless: shopping choices, books, movies, dining, hotels, cars, new look, styles, etc.</p>

<p>3- Participate in the Poll Vote of the week. These votes, created by Chilivote's administration, are about things we use or have every day. Give your opinion in just one click and see what are the most and least preferred choices of the Chilivote community of users, be it a global preference of coffee over tea or football over basketball.</p> 

<p>Chilivote social network depends totally on the users' honest opinions that are given in a fun way in only one click. Stay tuned for more features that will be introduced to the rapidly developing new social network that will guarantee the maximum of fun and convenience for you and our global users community.</p> 