<h3>About</h3>

<p>Chilivote is about good, better and the best. This social network is a fun way for you to connect with friends and family - it lets you Compete and Make the right choices.</p>

<p>Chilivote is not like the other social networks you know. It is more simple, organized and direct to the point. Currently, there are three main activities you can enjoy:</p>

<p>1- Manage My Chilivote, which is your own page where YOU can find out your friends' opinions on just about anything. Let's say you can't make a decision about which restaurant to choose for celebrating your birthday. Of course, the best idea is to see what your friends think of your options. And Chilivote makes it easy in just 3 steps! Create a New Chilivote, add your question and upload several photos that reflect the possible answers and just sit back and relax while your friends do the voting. With My Chilivote decision-making is a fun, interactive and easier process. The varieties of questions to ask your friends are endless: shopping choices, books, movies, dining, hotels, cars, new look, styles, etc.</p>

<p>2- True Friends: We have many online and real-life friends, but true friends are those who know us the most; our character, behavior, favorite things and dreams. Chilivote created a fun way for you to find out who your true frinds are. Your friends are ranked according to their knowledge of you. This increases friends' bonds and knowledge of each other!</p> 

<p>3-	Chilivote has filters where you can choose what to see on your public page, filters include posts from your country, people you followed, top trends, and many others </p> 

<p>4-	Rank: users will be ranked according to their performance and posts. Your post will be judged by the public and friends, and will be voted up and down. Rank depends on your C status, which is calculated by an equation that will tell the public about how well your posts are, which will eventually affect your popularity on Chilivote.  C. status = vote ups – vote downs </p>

<p>5-	Chlivote has a private and public page at the same time. You can post in public where the whole Chilivote community can see and vote for your posts, at the same time you can chose to make a post private to be seen only by your friendsm who can vote and help you make a choice.</p>

<p>6-	Chilivote makes social networking worthy, useful and fun at the same time. </p>

<p>7-	Android and iPhone applications are coming soon</p>

<p>8-	Popular pages/users will be able to attract more customer by using their pages for advertisements ( coming soon ) </p>

<p>9-	No advertisements on your pages. Advertisements will be posred on the public page only.</p>

<p>Chilivote social network depends totally on the users' honest opinions that are given in a fun way in only one click. Stay tuned for more features that will be introduced to the rapidly developing new social network that will guarantee the maximum of fun and convenience for you and our global users community.</p> 