<div class="well well-small">
  <h1>Reset Password</h1>
  Please type in your email and a new password will be sent to you shortly
  <%= form_tag("/welcome/reset_password", method: "get") do %>
  <%= text_field_tag(:email, nil, placeholder: 'Email') %><br/>
  <%= submit_tag("Reset Password", {:class=>"btn btn-success"}) %>
<% end %>
</div>
