<html>

<head>

<script>

function onLoad() {

window.top.location.href=’www.chilivote.com’;

}

</script>

</head>

<body onload=”onLoad()”>

<p>Please wait while you are being redirected to chilivote.com …</p>
	<div style="text-align:center;">
<%= link_to "Start the chilivote experience", '/', {:class=> "btn btn-large"}%>
</div>

</body>

</html>


