<h3>Help</h3>

<p>To start with Chilivote take the following steps:</p>
<br>
<h6>First Steps</h6>
<p>-	Click on your name to update your details, then click on the blue (edit) link to update your profile, password and other details.<br/>
-	 Click on Chilivote icon on the top left to go to your home page to engaging with the Chilivote community by creating your first Chilivote or posting.<br/>
-	Remember to choose (public or friends) before you click post.<br/>
-	Following and followers will be found on the top right of the screen when you click your name.<br/>
</p>
<br/>
<p>
<h6>Go to "Friends"</h6>
- Type the name of your friend in the search tab and cluck Search. Note that your friends have to be registered members of Chilivote;<br/>
- Add your friend; <br/>
- You will see the list of your friends in the right column of "My Chilivotes" page when they accept;<br/>
- When you click on a friend's name, the website will take you to his/her page so you can see and participate in his/her votes.<br/>
</p>
<br>
<br>
<p><h6>Notes:</h6></p>
<p>• When a user creates a new Chilivote, friends will be notified about it so they can vote.</p>
<p>• If you receive a new Friend Request, the friends icon on top of the page will turn white. If there is no friend request, it will be black.</p>
<p>• If you have any questions or difficulties, please send us an email to admin@chilivote.com.</p>
