<h3>Help</h3>

<p>To start with Chilivote take the following steps:</p>
<br>
<p><h6>Go to "My Chilivotes"</h6>
- Upload your profile photo;<br/>
- Create a new Chilivote by clicking on New Chilivote under your profile photo;<br/>
- Write your question;<br/>
- Select how long you want your vote to last;<br/>
- Click on the Add Answers button, and upload photos for each of the possible answers. One photo represents one answer and there is no limit on the number of photos;<br/>
- Click on Create My Chilivote.<br/>
</p>
<br/>
<p>
<h6>Go to "Friends"</h6>
- Type the name of your friend in the search tab and cluck Search. Note that your friends have to be registered members of Chilivote;</br>
- Add your friend; </br>
- You will see the list of your friends in the right column of "My Chilivotes" page when they accept;</br>
- When you click on a friend's name, the website will take you to his/her page so you can see and participate in his/her votes.</br>
</p>
<br>
<p>
<h6>To see and take part in Chilivote monthly competitions or Poll Votes of the week, go to Chilivote on top of the screen.</h6><br>
- To take part in the general competition, click on the category you want, then upload your photo and wait for other users to vote for it.<br> 
- You cannot add your photo to the Poll Vote of the week, but you are strongly encouraged to make your vote, and see which photos are most and least preferred by the Chilivote community.<br> 
</p>
<br>
<p><h6>Notes:</h6></p>
<p>• When a user creates a new Chilivote, friends will be notified about it so they can vote.</p>
<p>• If you receive a new Friend Request, the friends icon on top of the page will turn white. If there is no friend request, it will be black.</p>
<p>• If you have any questions or difficulties, please send us an email to admin@chilivote.com.</p>
