<div style="position:fixed; top:0px;left:0px;right:0px;width:100%;z-index:-3000;bottom:0px;max-height:100%;">
  <%=cl_image_tag "pic_only_jdorqj"%>
  </div>

<div style="position:absolute;top:0px;left:0px;">
    <%=cl_image_tag "logo_only_pw1tvy"%>
    </div>
<div style="position:absolute;top:5%;right:5%;">
  <%= link_to "LOG IN", "/signin", {:class=>"btn btn-large" } %>
</div>
<div class="row" style="z-index:100;">     
  <br/><br/><br/>
    <h2 style="color:white">Because life is about good, better and the best</h2>
  <br/><br/>
      <div class="span4"></div>
      <div class="span3">
      <%= render partial: '/users/forms/simple_form' %>
        </div>
      <div class="span4"></div>
</div>

<script>
$(document).ajaxStart(function() {
    $(".ajax-spinner").show();$(".ajaxified").hide();
  }).ajaxStop(function() {
      $(".ajax-spinner").hide();
  });
</script>
<br/><br/><br/><br/><br/><br/>
<%if !params[:new_to_chilivote].nil?%>
<script>
  $(document).ready(function(){
        $("#new_to_chilivote").effect( "highlight", {color:"#b1110e"}, 3000 );
    });
</script>
<%end%>