<div style="position:absolute; top:0px;left:0px;width:100%;z-index:-3000;">
  <div class="landing-background" style=""></div>
  </div>
<div style="margin:30px;" class="pull-right">
      <ul class = "nav nav-pills">
        <li class="active"><%= link_to "LOG IN", "/signin"%></li>
      </ul>
  </div>
<div class="row" style="z-index:100;margin-top:30%;">     
      <div class="span4"></div>
      <div class="span3">
      <%= render partial: '/users/forms/simple_form' %>
        </div>
      <div class="span4"></div>
</div>

<script>
$(document).ajaxStart(function() {
    $(".ajax-spinner").show();$(".ajaxified").hide();
  }).ajaxStop(function() {
      $(".ajax-spinner").hide();
  });
</script>
<br/><br/><br/><br/><br/><br/>
<%if !params[:new_to_chilivote].nil?%>
<script>
  $(document).ready(function(){
        $("#new_to_chilivote").effect( "highlight", {color:"#b1110e"}, 3000 );
    });
</script>
<%end%>