<h3>News</h3>

<p>Chilivote team is full of ideas that will keep impressing you by upgrading the website adding extra features and modifications.</p>
<p>In the next upgrades we will add:</p>
<p>1-	Chilivote will be availabe as an application on your phone</p>
<p>2-	Other types of categories for voting on the main page</p>
<p>3-	Special pages for your business with special features</p>
<p>4-	Follow functionality</p>
<p>5-	User will be able to change and modify your vote</p>
<p>6-	Group voting (new exciting feature)</p> 

<p>We will be continuosly striving to make your Chilivote experience better, follow our updates and you will be convinced!</p>
