<%if @n.errors.any?%>
$("#confirmation_message").html("<div id='confirmation_message' class='alert alert-info'><strong><%="Please Enter a valid e-mail"%></strong></div>");
<%else%>
$("#confirmation_message").html("<div id='confirmation_message' class='alert alert-info'><strong>Well done!</strong> You have requested an invitation like a boss. Please be patient, you should receive a confirmation code shortly!</div>");
<%end%>