<div style="position:absolute;top:0px;left:0px;z-index:-100;max-width:1853px;">
<%=cl_image_tag "http://res.cloudinary.com/hgqr8qyb1/image/upload/v1471555695/Landing_page_campaign_FINAL_jamlqo.jpg"%>
  </div>
<div style="text-align:center;z-index:4000;margin-top:400px;">
        <%= form_tag("/welcome/request_invitation/", method: "get") do %>
        <%= text_field_tag(:email) %>
        <br/>
        <div style="text-align:center;"><%= submit_tag("Request Invitation", class:"btn btn-large btn-inverse ajaxified") %>
        </div>
        <% end %>
  </div>
