<%if @n.errors.any?%>
$("#confirmation_message").html("<div id='confirmation_message' class='alert alert-info'><strong><%="Enter valid e-mail"%></strong></div>");
<%else%>
$("#confirmation_message").html("<div id='confirmation_message' class='alert alert-info'><strong>Well done!</strong></div>");
<%end%>