<div style="position:absolute;top:0px;left:0px;z-index:-100;max-width:1853px;">
<%=cl_image_tag "http://res.cloudinary.com/hgqr8qyb1/image/upload/v1471989122/Thank_you_page_FINAL_2_jkl9dj.jpg"%>
  </div>

<script>
        var timer = setTimeout(function() {
            window.location='http://www.chilivote.com/users/new?code=<%=@code%>'
        }, 2000);
    </script>
