<div style="position:fixed; top:0px;left:0px;right:0px;width:100%;z-index:-3000;bottom:0px;max-height:100%;">
  <%=cl_image_tag "pic_only_jdorqj"%>
  </div>

<div class="row" style="z-index:100;">     
  
  <center>
    <%=cl_image_tag "logo_only_pw1tvy"%>
    <h2 style="color:white">Because life is about good, better and the best</h2>
    <h4 style="color:white">Join Chilivote for a better world by creating votes and voting for others</h4>
    <br/><br/><br/><br/><br/><br/>
    <h4 style="color:white">Welcome to Chilivote</h4>
    <br/><br/>
    </center>
  <div class="span2"></div>
  <div class="span8">
    <h5 style="color:white">Vote for others</h5> 
    <h5 style="color:white"> Follow people and friends</h5> 
    <h5 style="color:white">Create votes and let others help you make a choice</h5> 
    <h5 style="color:white">Build a better world</h5>
    </div>
   <div class="span2"></div>
</div>

<script>
        var timer = setTimeout(function() {
            //window.location='http://www.chilivote.com/users/new?code=<%=@code%>'
            window.location='http://www.chilivote.com/users/show_public'
        }, 3000);
    </script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1249769845063038');
fbq('track', "PageView");
fbq('track', 'CompleteRegistration');

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1249769845063038&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->