<div style="position:absolute;top:0px;left:0px;z-index:-100;max-width:1853px;">
<%=cl_image_tag "http://res.cloudinary.com/hgqr8qyb1/image/upload/v1471989122/Thank_you_page_FINAL_2_jkl9dj.jpg"%>
  </div>

<script>
        var timer = setTimeout(function() {
            window.location='http://www.chilivote.com/users/new?code=<%=@code%>'
        }, 2000);
    </script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1249769845063038');
fbq('track', "PageView");
fbq('track', 'CompleteRegistration');

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1249769845063038&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->