<%= form_for(@svote) do |f| %>
  <% if @svote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@svote.errors.count, "error") %> prohibited this svote from being saved:</h2>

      <ul>
      <% @svote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
