<h1>Listing svotes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @svotes.each do |svote| %>
      <tr>
        <td><%= link_to 'Show', svote %></td>
        <td><%= link_to 'Edit', edit_svote_path(svote) %></td>
        <td><%= link_to 'Destroy', svote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Svote', new_svote_path %>
