<%= form_tag pvotes_path, method: :post, remote: true, id: 'voting_form' do %>
  <%= hidden_field_tag 'poll[id]', poll.id %>
 
 
  <% if current_user.voted_for?(poll) %>
    <p>You have voted!</p>
  <% else %>
  
    <%= render partial: 'polls/vote_option', :locals=>{:poll => poll}, collection: poll.vote_options, as: :option %>
    <%= submit_tag 'Vote', class: 'btn btn-lg btn-primary' %>
  <% end %>
<% end %>