<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1></h1>
    <p>
      You have requested a new password for your account on Chilivote.com. Your password has been reset and the new one is: <br>
    </p>
    <p>
      <strong>This is your new password: <%=@code%></strong>
    </p>
    <p>
      your friends from Chilivote.com
    </p>
  </body>
</html>

  