@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #B1110E;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
  color: #7D9523
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color:#333;
}
a:hover {
  color:#333;
}

/* Main Page */


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* categories*/
/* error messages */
.category_description_error{
  color: red;
}

.category_name_error{
  color:red;
}

.image_error{
  color:red;
}

.select_file_button{
     background: url("http://res.cloudinary.com/hgqr8qyb1/image/upload/v1400329626/upload_image_guyf75.png") no-repeat;
}
 
.preview input {
   filter: alpha(opacity=0);
   opacity: 0;
}

.select_file_button input{
  filter: alpha(opacity=0);
  opacity: 0;
}


/* navbar */

.navbar-inverse .navbar-inner {
  background-color: #B1110E;
  background-image: -moz-linear-gradient(top, #B1110E, #B1110E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1110E), to(#B1110E));
  background-image: -webkit-linear-gradient(top, #B1110E, #B1110E);
  background-image: -o-linear-gradient(top, #B1110E, #B1110E);
  background-image: linear-gradient(to bottom, #B1110E, #B1110E);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1110E', endColorstr='#B1110E', GradientType=0);
  border-color: #B1110E;
}

.navbar-inner a:hover{
  background-color: #B1110E;
}

.navbar-inner a:focus{
  outline: none;
}


.navbar4444 .navbar-fixed-top4444 .navbar-inverse4444 .navbar-inner4444{
  border-color: #B1110E;
  background-color: #B1110E; /* fallback color, place your own */
  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #B1110E, #B1110E);
  background-image: -ms-linear-gradient(top, #B1110E, #B1110E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1110E), to(#B1110E));
  background-image: -webkit-linear-gradient(top, #B1110E, #B1110E);
  background-image: -o-linear-gradient(top, #B1110E, #B1110E);
  background-image: linear-gradient(top, #B1110E, #B1110E);
  background-repeat: repeat-x;
  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1110E', endColorstr='#B1110E', GradientType=0);
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* css for old Uploader review:might be removed*/
.imgHover {
    display: inline;
    position: relative;
}
.imgHover .hover {
    display: none;
    position: absolute;
    right:0;
    z-index: 2;
    width: 100%;
}
.imgHover .hover a{
  color: gray;
}
#box
{
        width: 50%;
        height: 50%;
        background: #FFF;
        border: gray solid 1px;
        text-align: center;
        position: absolute;
        /*-left: -75px;*/
        /*margin-top: -75px;*/
        left: 25%;
        top: 25%;
        z-index: 3000;
        display: none;
}

#screen
{
        position: absolute;
        left: 0;
        top: 0;
        background: #000;
        z-index: 2999;
}
.close_button{
  text-align:right;
}
/*end old uploader*/

/* to compensate for the bootsrap polaroid 10 pixels are added for the width and height of the profile picture*/
#profile_image_container{
  width: 178px;
  height: 178px;
  position:relative;
}
#profile_image_div{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
}
#opaque_div{
  background-color:black;
  width: 168px;
  height: 45px;
  position: absolute;
  top: 128px;
  left: 0;
  z-index: 10;
  margin: 5px;
  margin-top:0;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  cursor: pointer;
  cursor: hand;

}
#slider_camera_and_text_div{
  position: absolute;
  width: 168px;
  height: 45px;
  top: 130px;
  left: 0;
  color: white;
  font-weight: bold;
  z-index: 20;
  margin: 5px;
  margin-top:0;
  cursor:pointer;
  cursor: hand;
}
#opaque_slider_div{
  display:none;
  cursor:pointer;
  cursor: hand;
}
#uploader_form{
  display:inline-block;
  overflow:hidden;
  width: 168px;
  height: 45px;
  position: absolute;
  top: 128px;
  left: 0;
  z-index: 30;
  margin: 5px;
  margin-top:0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  cursor: pointer;
  cursor: hand;
}
#my_uploader{
  font-size:50px;
  width:100%;
  height: 100%;
  cursor: pointer;
  cursor: hand;
}
//fix for chrome pointer on file input field
::-webkit-file-upload-button { cursor:pointer; }

/*end css for uploader*/

/*uploader for votes*/
.fileinput-button{
  position:absolute;
  z-index:99;
}
#uploader_add_answer{
  opacity:0;
  position:absolute;
  z-index:100;
  top:0px;
  left:0px;
  width:100px;
  height:30px;
}


.uploader_form_for_votes{
  //display:inline-block;
  //overflow:hidden;
  position: relative;
  width:168px;
  //height:168px;
  //top: 0px;
  //left: 0;
  //z-index: 30;
  //margin: 0px;
  //margin-top:0;
  //opacity: 0;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //cursor: pointer;
  //cursor: hand;
}

.vote_photo{
  width:168px;
  //min-height:168px;
  position:absolute;
  top:0px;
  opacity:0;
  z-index:100;
}

.upload_photo_text{
  position:absolute;
  top: 0px;
  //width:168px;
  //min-height:168px;
  z-index:99;
  margin-top:5px;
}


/* css for avatar */
.avatar{
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
}
.avatar a:hover{
  background-color:white;
}
/* end css for avatar*/

/* form margin fix */
.alert form{
  margin:0;
}
/*end*/

/* friends box */
.friends_box_right{
  margin-left:-1px; 
  border-left:1px solid #eee;
  min-height:168px;
}

.avatar_box{
  margin-bottom: 5px;
  font-weight:bold;
  font-size:0.9em;
}

.avatar_box a{
  color:#333;
}

.avatar_box a:hover{
  color:#333;
}

.user_name_in_avatar{
  margin-left: 5px;
}
/* end friends box */

#notification_element{
  cursor:pointer;
  z-index:3000;
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 1px solid #e9e9e9;
}

#notification_element:hover{
  background-color: #d3d3d3;
}

.wallpaper-container{
  background: url("http://res.cloudinary.com/hgqr8qyb1/image/upload/v1416143619/wall_paper_a7irfl.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 30px;
  left:0px;
  width: 100%;
  height:100%;
  z-index: -3000;
}

.not_seen{
  background-color:#f6f6f6;
}
