@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #B1110E;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
  color: #7D9523
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Main Page */


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* categories*/
/* error messages */
.category_description_error{
  color: red;
}

.category_name_error{
  color:red;
}

.image_error{
  color:red;
}

.select_file_button{
     background: url("http://res.cloudinary.com/hgqr8qyb1/image/upload/v1400329626/upload_image_guyf75.png") no-repeat;
}
 
.preview input {
   filter: alpha(opacity=0);
   opacity: 0;
}


/* navbar */

.navbar-inverse .navbar-inner {
  background-color: #B1110E;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #B1110E, #B1110E);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
  border-color: #B1110E;
}

.navbar-inner a:hover{
  background-color: #B1110E;
}

.navbar-inner a:focus{
  outline: none;
}


.navbar4444 .navbar-fixed-top4444 .navbar-inverse4444 .navbar-inner4444{
  border-color: #B1110E;
  background-color: #B1110E; /* fallback color, place your own */
  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #B1110E, #B1110E);
  background-image: -ms-linear-gradient(top, #B1110E, #B1110E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B1110E), to(#B1110E));
  background-image: -webkit-linear-gradient(top, #B1110E, #B1110E);
  background-image: -o-linear-gradient(top, #B1110E, #B1110E);
  background-image: linear-gradient(top, #B1110E, #B1110E);
  background-repeat: repeat-x;
  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B1110E', endColorstr='#B1110E', GradientType=0);
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}