<%if !((controller.controller_name == "welcome" and controller.action_name == "request_invitation_from_fb") or (controller.controller_name == "welcome" and controller.action_name == "thank_you")) %>
<footer class="footer">
  <small>
    <a href="http://Chilivote.com/">Chilivote 2016</a>
  </small>
  <nav>
    <ul>
      <li><span class="label label-important"><%= link_to "About", "/welcome/about" , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "Contact", '/welcome/contact' , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "News",   '/welcome/news' , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "Help",   '/welcome/help' , {:style=> 'color:white' }%></span></li>
    </ul>
  </nav>
</footer>
<%end%>