<footer class="footer">
  <small>
    <a href="http://Chilivote.com/">Chilivote 2014</a>
  </small>
  <nav>
    <ul>
      <li><span class="label label-important"><%= link_to "About",   '#' , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "Contact",   '#' , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "News",   '#' , {:style=> 'color:white' }%></span></li>
      <li><span class="label label-important"><%= link_to "Help",   '#' , {:style=> 'color:white' }%></span></li>
    </ul>
  </nav>
</footer>